<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management App</title>
</head>
<body style="background: #ddd">
    <div style="margin-top: 150px;">
        <h3>Task Manager App</h3>
        <p>This application lets users create tasks after being authorized. Below is the link to the API documentation for task manager application.</p>
        <span><a href="https://documenter.getpostman.com/view/19761648/VUjTmPW9">API Documentation</a></span>
    </div>
    
</body>
</html>